
.nav-bar {
    height: 100vh;
    border-right: 1px solid gray;
}

.nav-bar-div {
    border-right: 1px solid gray;
    padding: 1rem;
    gap: 1rem;

    display: grid;
    grid-template-columns: 5rem auto;
    
    align-items: center;
}

.nav-bar-div .img-logo {
    width: 4rem;
}

.contenedor-herramientas {
    width: 25rem;
    height: 45rem;
    margin: 2.3rem 1rem;
    padding: 2rem 1rem;
    gap: 10px;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
}


.contenedor-herramientas .herramienta-pequeña1 {
    width: 23rem;
    height: 4.5rem;
    border: 1px solid rgb(0, 0, 0);

    display: grid;
    grid-template-columns: 6.5rem 1fr;
    grid-template-rows: 1fr;
}

.contenedor-herramientas .herramienta-pequeña1 .area-herramienta1 {
    grid-column: 1/2;
    grid-row: 1/2;
    width: 3.5rem;
    height: 3.5rem;
    margin: auto;
    background-color: rebeccapurple;
}

.contenedor-herramientas .herramienta-pequeña1 h3 {
    grid-column: 2/3;
    grid-row: 1/2;
    display: flex;
    align-items: center;
    justify-content: left;
}


.contenedor-herramientas .herramienta-pequeña2 {
    width: 23rem;
    height: 4.5rem;
    border: 1px solid rgb(0, 0, 0);

    display: grid;
    grid-template-columns: 6.5rem 1fr;
    grid-template-rows: 1fr;
}

.contenedor-herramientas .herramienta-pequeña2 .area-herramienta2 {
    grid-column: 1/2;
    grid-row: 1/2;
    margin: auto;
    width: 3.5rem;
    height: 3.5rem;
    background-color: rgb(22, 102, 134);
}

.contenedor-herramientas .herramienta-pequeña2 h3 {
    grid-column: 2/3;
    grid-row: 1/2;
    display: flex;
    align-items: center;
    justify-content: left;
}


.contenedor-herramientas .herramienta-pequeña3 {
    width: 23rem;
    height: 4.5rem;
    padding: 0.5rem 1rem;
    border: 1px solid rgb(0, 0, 0);

    display: grid;
    grid-template-columns: 6.5rem 1fr;
    grid-template-rows: 1fr;
}

.contenedor-herramientas .herramienta-pequeña3 .area-herramienta3 {
    grid-column: 1/2;
    grid-row: 1/2;
    width: 3.5rem;
    height: 3.5rem;
    margin: auto;
    background-color: orangered;
}

.contenedor-herramientas .herramienta-pequeña3 h3 {
    grid-column: 2/3;
    grid-row: 1/2;
    display: flex;
    align-items: center;
    justify-content: left;
}

/* Herramienta Pequeña 4 */
.contenedor-herramientas .herramienta-pequeña4 {
    width: 23rem;
    height: 4.5rem;
    border: 1px solid rgb(0, 0, 0);

    display: grid;
    grid-template-columns: 6.5rem 1fr;
    grid-template-rows: 1fr;
}

.contenedor-herramientas .herramienta-pequeña4 .area-herramienta4 {
    grid-column: 1/2;
    grid-row: 1/2;
    width: 3.5rem;
    height: 3.5rem;
    margin: auto;
    background-color: green;
}

.contenedor-herramientas .herramienta-pequeña4 h3 {
    grid-column: 2/3;
    grid-row: 1/2;
    display: flex;
    align-items: center;
    justify-content: left;
}

/* Herramienta Pequeña 5 */
.contenedor-herramientas .herramienta-pequeña5 {
    width: 23rem;
    height: 4.5rem;
    border: 1px solid rgb(0, 0, 0);

    display: grid;
    grid-template-columns: 6.5rem 1fr;
    grid-template-rows: 1fr;
}

.contenedor-herramientas .herramienta-pequeña5 .area-herramienta5 {
    grid-column: 1/2;
    grid-row: 1/2;
    width: 3.5rem;
    height: 3.5rem;
    margin: auto;
    background-color: red;
}

.contenedor-herramientas .herramienta-pequeña5 h3 {
    grid-column: 2/3;
    grid-row: 1/2;
    display: flex;
    align-items: center;
    justify-content: left;
}


.contenedor-herramientas .herramienta-pequeña6 {
    width: 23rem;
    height: 4.5rem;
    border: 1px solid rgb(5, 0, 0);

    display: grid;
    grid-template-columns: 6.5rem 1fr;
    grid-template-rows: 1fr;
}

.contenedor-herramientas .herramienta-pequeña6 .area-herramienta6 {
    grid-column: 1/2;
    grid-row: 1/2;
    width: 3.5rem;
    height: 3.5rem;
    margin: auto;
    background-color: rgb(0, 0, 0)
}

.contenedor-herramientas .herramienta-pequeña6 h3 {
    grid-column: 2/3;
    grid-row: 1/2;
    display: flex;
    align-items: center;
    justify-content: left;
}


.Formulario {
    width: 28rem;
    height: 34rem;
    padding: 1rem 2rem;

    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.Formulario .cuadro1 {
    width: 100%;
    height: 4.5rem;
    border-radius: 8px;
    border: 1px solid black;
}

.Formulario .cuadro2 {
    width: 100%;
    height: 4.5rem;
    border-radius: 8px;
    border: 1px solid black;
}

.Formulario .cuadro3 {
    width: 100%;
    height: 15rem;
    border-radius: 8px;
    border: 1px solid black;
}

.Formulario .btn-enviar {
    width: 40%;
    height: 4.5rem;
    border-radius: 8px;
    border: 1px solid black;

    display: flex;
    justify-content: center;
    align-items: center;
} 